ol{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  padding: 0;
}
li{
  text-align: right;
  /* background-color: grey; */
  /* margin: 2px; */
  /* border-radius: 1px */

}
.first-day{
  grid-column-start: 5;
}
.day-name{
  background: #eee;
  font-weight: bold;
  text-align: center;
}
div.gjrCalendar{
  width: 300px;
  text-align: center;
}
